* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}


body header {
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #ffffff 0%, #E4E4E4 70%);
    background-image:-webkit-linear-gradient(top, #ffffff 0%, #E4E4E4 70%);
    background-image:-ms-linear-gradient(top, #ffffff 0%, #E4E4E4 70%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #ffffff),
        color-stop(0.70, #E4E4E4)
    );
}

.myfooter {
    position: absolute !important;
    bottom: 0;
    width: 100%;
    /*
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #ffffff 0%, #E4E4E4 70%);
    background-image:-webkit-linear-gradient(top, #ffffff 0%, #E4E4E4 70%);
    background-image:-ms-linear-gradient(top, #ffffff 0%, #E4E4E4 70%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #ffffff),
        color-stop(0.70, #E4E4E4)
    );
    */
}

.mycozyrow {
    margin-top:50px;
    margin-bottom:50px;
}

.myimagefit {
    width: 70%;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.slides{position:relative;width:250px}
.slides .slide{overflow:hidden;position:relative;width:250px;height:170px}
.slides .slide li{display:block;width:250px;height:170px}
.slides .slide li a{display:block}
.slides a.prev,.slides a.next{display:inline-block;z-index:100;overflow:hidden;position:absolute;top:10px;width:14px;height:14px;background:url(../img/sp_page.gif) 0 0 no-repeat;line-height:999px;vertical-align:top}
.slides a.prev{right:25px;background-position:0 0}
.slides a.prev:hover{background-position:0 -20px}
.slides a.next{right:10px;width:15px;background-position:-20px 0}
.slides a.next:hover{background-position:-20px -20px}
.slides .page{z-index:100;position:absolute;top:140px;left:0;width:250px;text-align:center;list-style:none}
.slides .page li{display:inline-block;_display:inline;margin:0 1px;_zoom:1}
.slides .page li a{display:block;overflow:hidden;width:12px;height:12px;background:url(../img/sp_page.png) 0 0 no-repeat;line-height:999px;vertical-align:top}
.slides .page li.current a{background-position:0 -12px}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}
